{% extends "base_generic.html" %}

{% block content %}
    <h1>All Task of Your Team</h1>
    {% load func_extras %}
    {% if task_list %}
    <ul><h3>New tasks should be added members of your team to the following tasks</h3>
      {% for taskinst in task_list %}
      {% receiver_list taskinst taskinst.process as r_list %}
      {% if r_list == 'Empty' %}
      <li>
        <a href="{% url 'task-detail' taskinst.pk %}" class="{% if taskinst.is_outofdate %}text-danger{% endif %}">{{taskinst.title}}</a> (Deadline: {{ taskinst.deadline|default_if_none:"" }}) 
        - Process: {{ taskinst.process }}
        {% if perms.software.is_leader %}
        - <a href="{% url 'task_receivers' taskinst.pk %}">Edit receivers of your team</a>  
        {% endif %}<br>
        <pre>{{ r_list }}</pre>    		
      </li>
      {% endif %}
      {% endfor %}
    </ul>

    <ul><h3>Oversight</h3>
      {% for taskinst in task_list %}
      {% receiver_list taskinst taskinst.process as r_list %}
      {% if r_list != 'Empty' %}
      <li>
        <a href="{% url 'task-detail' taskinst.pk %}" class="{% if taskinst.is_outofdate %}text-danger{% endif %}">{{taskinst.title}}</a> (Deadline: {{ taskinst.deadline|default_if_none:"" }}) 
        - Process: {{ taskinst.process }}
        {% if perms.software.is_leader %}
        - <a href="{% url 'task_receivers' taskinst.pk %}">Edit receivers of your team</a>  
        {% endif %}<br>
        <pre>{{ r_list }}</pre>       
      </li>
      {% endif %}
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no tasks of your team.</p>
    {% endif %}       
{% endblock %}