{% extends "base_generic.html" %}

{% block content %}
{% load bootstrap3 %}
{% load func_extras %}
    <h1 class="font-weight-bold">Project List</h1>

    {% if project_list %}
    <table class="table table-bordered table-hover">
    <thead>
      <tr>
         <th width="55%">Project</th>
         <th width="30%">Last Update</th>
         <th width="15%">Number of Task</th>
      </tr>
    </thead>
    <tbody>
      {% for inst in project_list %}
      {% project_view inst request.user as read %}
      <tr class="{% if not read %}font-weight-bold{% endif %}">
          <td><a href="{{ inst.get_absolute_url }}" class="text-primary">{{ inst.name }}</a></td>
          <td>{{ inst.last_update|default_if_none:"" }}</td>
          <td align="center">{% number_task_of_project inst %}</td>
      </tr>
      {% endfor %}

    </tbody>
    {% else %}
      <p>There are no projects.</p>
    {% endif %}       
{% endblock %}