{% extends "base_generic.html" %}

{% block content %}
{% load bootstrap3 %}
{% load func_extras %}
    <h1 class="font-weight-bold">Task List</h1>
    <hr align="left" width="40%" style="margin-bottom: 5px; margin-top: 5px;">

    {% if task_list %}
    <div class="form-group has-feedback has-feedback-left pull-right" style="width: 25%" >
      <input type="text" class="form-control" id="myInputall" onkeyup="filterall()" placeholder="Search">
      <i class="glyphicon glyphicon-search form-control-feedback"></i>
      <hr style="margin-bottom: 5px; margin-top: 5px;">
    </div>


    
    <table class="table table-bordered table-hover" id="myTable">
    <thead>
      <tr>
         <th width="35%">Task</th>
         <th width="15%">Deadline</th>
         <th width="15%">Creator</th>
         <th width="5%">Status</th>
         <th width="5%">Process</th>
         <th width="25%">Assign To</th>
      </tr>
    </thead>
    <tbody>
      
      {% for inst in task_list %}
      {% new_task inst as new %}
      <tr class="{% if inst.status == 'fi' %}success
            {% elif inst.is_outofdate %}danger
            {% elif inst.is_late %}warning
            {% else %}info
           {% endif %}">
        <td>{% if new %}<span class="label label-primary"> New </span>{% endif %}
            {% if inst.is_outofdate %}<span class="label label-danger"> Late </span>
            {% elif inst.is_late %}<span class="label label-warning"> Warning </span>{% endif %}
            <a href="{% url 'task-detail' inst.pk %}">{{ inst }}</a></td>
        <td>{{ inst.deadline }}</td>
        <td>{{ inst.creator.profile }}</td>
        <td>{{ inst.get_status_display }}</td>
        <td>{{ inst.process }}</td>
        <td>{% for u in inst.receiver.all %}{{ u.last_name }} {{ u.first_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
      </tr>
      {% endfor %}

    </tbody>
    </table>
    {% else %}
      <p>There are no tasks.</p>
    {% endif %}       
{% endblock %}
