{% extends "base_generic.html" %}

{% block content %}
    <h1>My Report List</h1>

    {% if taskprogress_list %}
    <ul>

      {% for inst in taskprogress_list %} 
      <li>
        [{{ inst.date_added }}] <a href="{% url 'report-detail' inst.pk %}">{{ inst.title }}</a><br>
		<pre>Task: <a href="{{ inst.task.get_absolute_url }}"> {{ inst.task.title }}</a> - Project: <a href="{{ inst.task.project.get_absolute_url }}"> {{ inst.task.project.name }}</a></pre>
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no reports.</p>
    {% endif %}       
{% endblock %}