{% extends "base_generic.html" %}

{% block content %}
{% load bootstrap3 %}
    <h1 class="font-weight-bold">My Task List</h1>
    <hr align="left" width="40%" style="margin-bottom: 5px; margin-top: 5px;">
	{% load func_extras %}
    {% if task_list %}
    <div class="form-group has-feedback has-feedback-left pull-right" style="width: 25%" >
      <input type="text" class="form-control" id="myInputall" onkeyup="filterall()" placeholder="Search">
      <i class="glyphicon glyphicon-search form-control-feedback"></i>
      <hr style="margin-bottom: 5px; margin-top: 5px;">
    </div>

	<table class="table table-bordered table-hover" id="myTable">
		<thead>
			<tr>
			   <th width="15%">Project</th>
			   <th width="30%">Task</th>
			   <th width="15%">Deadline</th>
			   <th width="15%">Creator</th>
			   <th width="25%">Assign To</th>
			</tr>
		</thead>
		<tbody>
			{% for taskinst in task_list %}
			{% if taskinst.status != 'fi' %}
  			{% is_mytask taskinst request.user as mytask%} {% task_view taskinst request.user as read %}
  			{% if mytask %}
			<tr class="{% if taskinst.is_outofdate %}danger{% elif taskinst.is_late %}warning{% else %}info{% endif %} 
						{% if not read %}font-weight-bold font-italic{% endif %}">	
				<td>{{ taskinst.project.name }}</td>
				<td>
					{% if taskinst.is_outofdate %}<span class="label label-danger"> Late </span>
					{% elif taskinst.is_late %}<span class="label label-warning"> Warning </span>{% endif %}
					{% if not read %}<span class="label label-info"> Unread </span>{% endif %}
					<a href="{% url 'task-detail' taskinst.pk %}" class="text-primary">
						{{ taskinst.title }}
					</a>
				</td>
				<td>{{ taskinst.deadline|default_if_none:"" }}</td>
				<td>{{ taskinst.creator.last_name }} {{ taskinst.creator.first_name }}</td>
				<td>
					{% for usr in taskinst.receiver.all %}
						{{ usr.last_name }} {{ usr.first_name }}{% if not forloop.last %}, {% endif %}						
					{% endfor %}
				</td>
			</tr>
			{% endif %}{% endif %}
			{% endfor %}
			{% for taskinst in task_list %}
  			{% if taskinst.status == 'fi' %} 
  			{% is_mytask taskinst request.user as mytask%} {% task_view taskinst request.user as read %}
  			{% if mytask %}
			<tr class="success {% if not read %}font-weight-bold{% endif %}">	
				<td>{{ taskinst.project.name }}</td>
				<td>
					{% if not read %}<span class="label label-warning"> Unread </span>{% endif %}
					<a href="{% url 'task-detail' taskinst.pk %}" class="text-primary">
						{{ taskinst.title }} 
					</a>
				</td>
				<td>{{ taskinst.deadline|default_if_none:"" }}</td>					
				<td>{{ taskinst.creator.last_name }} {{ taskinst.creator.first_name }}</td>
				<td>
					{% for usr in taskinst.receiver.all %}
						{{ usr.last_name }} {{ usr.first_name }}{% if not forloop.last %}, {% endif %}						
					{% endfor %}
				</td>
			</tr>
			{% endif %}{% endif %}
			{% endfor %}
		</tbody>
	</table>



    {% else %}
      <p>There are no tasks.</p>
    {% endif %}       
{% endblock %}