{% extends "base_generic.html" %}

{% block content %} {% load func_extras %}
    <h1>My Task List</h1>
    {% if task_list %}
    <ul>
	  <h3>Processing</h3>
      {% for taskinst in task_list %} 
	  {% if taskinst.status != 'fi' %} {% task_view taskinst request.user as read %}	  
      <li class="{% if taskinst.is_outofdate %}text-danger
				 {% elif not read %}text-success
				 {% elif read %}text-info
				 {% endif %}">
        <a href="{% url 'task-detail' taskinst.pk %}" style="color: inherit;">[{{taskinst.project}}] {{taskinst.title}}</a> (Deadline: {{ taskinst.deadline|default_if_none:"" }})        
		- Updated: {{ taskinst.last_update }} {% if not read %}[ Unread ]{% endif %}
      </li>
	  {% endif %}
      {% endfor %}
    </ul>
	<ul>
	  <h3>Finish</h3>
      {% for taskinst in task_list %} 
	  {% if taskinst.status == 'fi' %} {% task_view taskinst request.user as read %}	  
      <li style="color: black">
        <a href="{% url 'task-detail' taskinst.pk %}" style="color: inherit;">[{{taskinst.project}}] {{taskinst.title}}</a> (Deadline: {{ taskinst.deadline|default_if_none:"" }})        
		- Updated: {{ taskinst.last_update }} {% if not read %}[ Unread ]{% endif %}
      </li>
	  {% endif %}
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no tasks.</p>
    {% endif %}       
{% endblock %}