{% extends "base_generic.html" %}

{% block content %}
{% load bootstrap3 %}
    <h1 class="font-weight-bold">My Report</h1>
    <hr align="left" width="40%" style="margin-bottom: 5px; margin-top: 5px;">

    {% if taskprogress_list %}
    <div class="form-group has-feedback has-feedback-left pull-right" style="width: 25%" >
      <input type="text" class="form-control" id="myInputall" onkeyup="filterall()" placeholder="Search">
      <i class="glyphicon glyphicon-search form-control-feedback"></i>
      <hr style="margin-bottom: 5px; margin-top: 5px;">
    </div>
    <table class="table table-bordered table-hover table-striped" id="myTable">
    <thead>
      <tr>
          <th width="100px">Date</th>
          <th width="250px">Report</th>
          <th width="175px">Task</th>
          <th width="150px">Project</th>
      </tr>
    </thead>
    <tbody>
          {% for inst in taskprogress_list %} 
          <tr> 
              <td>{{ inst.date_added }}</td>
              <td><a href="{% url 'report-detail' inst.pk %}">{{ inst.title }}</a></td>
		          <td><a href="{{ inst.task.get_absolute_url }}"> {{ inst.task.title }}</a></td>
              <td><a href="{{ inst.task.project.get_absolute_url }}"> {{ inst.task.project.name }}</a></td>
          </tr>
          {% endfor %}
   
    </tbody>
    </table>
    {% else %}
      <p>There are no reports.</p>
    {% endif %}       
{% endblock %}