{% extends "base_generic.html" %}

{% block content %}
{% load bootstrap3 %}
  <h4 style="margin-top: 10px;"><a href="{{ task.project.get_absolute_url }}" class="btn btn-dark">{% bootstrap_icon "arrow-left" %} Go to Project</a></h4>
  <h1 class="font-weight-bold">{{ task.title }}</h1>
  {% load func_extras %}
  {% updateprofile task request.user %}
  {% if task.creator == request.user %}
  <p>
    <a href="{% url 'task_update' task.pk %}" class="btn btn-primary">
            {% bootstrap_icon "edit" %} Edit </a>
    <a href="{% url 'task_delete' task.pk %}" class="btn btn-danger">
            {% bootstrap_icon "remove" %} Delete </a>
  </p>
  {% endif %}
  <p><strong>Creator:</strong> {{ task.creator.last_name }} {{ task.creator.first_name }} - <strong>Date Created:</strong> {{ task.date_of_init|default_if_none:"" }}</p>
  {% if task.status != 'fi' %}
	<p><strong>Deadline</strong>: {{ task.deadline|default_if_none:"" }}</p>
  {% endif %}
  <p><strong>Status:</strong> {{ task.get_status_display }}
  - <strong>Process:</strong> {{ task.process }}</p>
  <p><strong>Receivers:</strong>{% for receivers in task.receiver.all %} {{ receivers.profile }}
  {% if not forloop.last %}, {% endif %}{% endfor%}</p>
  <p><strong>Description:</strong><pre>{{ task.description|linebreaks }}</pre></p>
  
  <div style="margin-left:20px;margin-top:20px">
    <h4 class="font-weight-bold">Progresses</h4>
	    {% for prog in task.taskprogress_set.all %}
      <hr style="margin-bottom: 5px; margin-top: 5px;">
      <table class="table table-bordered">
        <tr>
  	      <td class="bg-light" colspan="3"><strong><a href="{{ prog.get_absolute_url }}">{{ prog.title }}</a></strong></td>
        </tr>
        <tr>
          <td width="70%">By <strong>{{ prog.reporter.last_name }} {{ prog.reporter.first_name }}</strong> on <i><strong>{{ prog.date_added }}</strong></i></td>
          <td width="15%"><strong>Status:</strong> {{ prog.get_status_display }}</td>
          <td width="15%"><strong>Process:</strong> {{ prog.process }}</td>
        </tr>
        <tr>
          <td colspan="3">{{ prog.content|linebreaks }}</td>
        </tr>
        {% if prog.document %}
        <tr>
          <td colspan="3">            
            <a href='{{ MEDIA_URL }}{{ prog.document }}' download="true">{% bootstrap_icon "paperclip" %} {{ prog.document.name }}</a>            
          </td>
        </tr>
        {% endif %}
      </table>
      {% endfor %}
  </div>
{% endblock %}