{% extends "base_generic.html" %}

{% block content %}
{% load bootstrap3 %}
{% load func_extras %}
    <h1 class="font-weight-bold">Task List</h1>

    {% if task_list %}
    <table class="table table-bordered table-hover">
    <thead>
      <tr>
         <th width="300px">Task</th>
         <th width="130px">Deadline</th>
         <th width="150px">Creator</th>
         <th width="50px">Status</th>
         <th width="50px">Process</th>
         <th width="230px">Assign To</th>
      </tr>
    </thead>
    <tbody>
      
      {% for inst in task_list %}
      <tr class="{% if inst.status == 'fi' %}success
            {% elif inst.is_outofdate %}danger
            {% else %}info
           {% endif %}">
        <td><a href="{% url 'task-detail' inst.pk %}"
           >{{ inst }}</a></td>
        <td>{{ inst.deadline }}</td>
        <td>{{ inst.creator.profile }}</td>
        <td>{{ inst.get_status_display }}</td>
        <td>{{ inst.process }}</td>
        <td>{% for u in inst.receiver.all %}{{ u.last_name }} {{ u.first_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
      </li>
      {% endfor %}

    </tbody>
    {% else %}
      <p>There are no tasks.</p>
    {% endif %}       
{% endblock %}