{% extends "base_generic.html" %}

{% block content %}
{% load bootstrap3 %}
<h1 class="font-weight-bold">Team Board</h1>

<table class="table table-bordered table-hover table-striped">
	<thead>
		<tr>
		   <th width="25%">Name</th>
		   <th width="33%">Current Tasks</th>
		   <th width="33%">Other Tasks</th>
		   <th align="center" width="3%">C</th>
		   <th align="center" width="3%">O</th>
		   <th align="center" width="3%">T</th>
		</tr>
	</thead>
	<tbody>
		{% load func_extras %}
		{% for usr in team %}
		<tr>	
			<td>{{ usr.last_name }} {{ usr.first_name }}</td>
			<td><ul style="margin-bottom: 5px; margin-left: -20px;">
				{% for job in task_list %}
				{% if job.status != 'fi' %}
				{% if usr in job.receiver.all and job.process in usr.profile.grp %}
					<li><a href="{% url 'task-detail' job.pk %}">{{ job }}</a></li>				
				{% endif %}{% endif %}
				{% endfor %}
			</ul></td>
			<td><ul style="margin-bottom: 5px; margin-left: -20px;">
				{% for job in task_list %}
				{% if job.status != 'fi' %}
				{% if usr in job.receiver.all and not job.process in usr.profile.grp %}
					<li><a href="{% url 'task-detail' job.pk %}">{{ job }}</a></li>				
				{% endif %}{% endif %}
				{% endfor %}
			</ul></td>
			<td class="font-weight-bold" align="center" >{{ usr.profile.current_task }}</td>
			<td align="center" >{{ usr.profile.other_task }}</td>
			<td align="center" >{{ usr.profile.all_task }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}