{% extends "auth_page.html" %}

{% block content %}
{% load bootstrap3 %}
<h1 class="font-weight-bold text-center" style="margin-top: 50px;">Teamwork Management Application</h1>
<hr class="text-center" width="35%">
{% if form.errors %}
<p class="text-center">Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p class="text-center">Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p class="text-center">Please login to see this page.</p>
    {% endif %}
{% endif %}
<div class="col-lg-7 col-centered">
<form class="form-horizontal" method="post" action="{% url 'login' %}">
{% csrf_token %}

  <input type="text" name="username" class="form-control" id="id_username" placeholder="Enter username">
  <input type="password" name="password" class="form-control" id="id_password" placeholder="Enter password">
  <button class="btn btn-lg btn-primary btn-block" style="width:100%; margin-top: 10px; margin-bottom: 10px;" type="submit">Sign in {% bootstrap_icon "log-in" %}</button>

  {# Assumes you setup the password_reset view in your URLconf #}
  <div class="text-center"><a href="{% url 'password_reset' %}">Forgot Password?</a></div>

</form>
</div>


{% endblock %}