{% extends "auth_page.html" %}

{% block content %}
{% load bootstrap3 %}
    {% if validlink %}
        <h4 class="font-weight-bold text-center" style="margin-top: 50px;">Please enter (and confirm) your new password.</h4>
        <hr class="text-center" width="35%">
        <div class="col-lg-10 col-centered">
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table class="col-lg-12">
                <tr>
                    <td class="col-lg-4" style="padding-left: 5px; padding-right: 5px;">
                        <label for="id_new_password1">New password</label></td>
                    <td class="col-lg-8" style="padding-left: 5px; padding-right: 5px;">
                        <input type="password" name="new_password1" class="form-control" id="id_new_password1" placeholder="Enter your new password">
                        {{ form.new_password1.errors }}
                    </td>
                </tr>
                <tr>
                    <td class="col-lg-4" style="padding-left: 5px; padding-right: 5px;">
                        <label for="id_new_password2">Confirm password</label></td>
                    <td class="col-lg-8" style="padding-left: 5px; padding-right: 5px;">
                        <input type="password" name="new_password2" class="form-control" id="id_new_password2" placeholder="Enter your new password again">
                        {{ form.new_password1.errors }}
                    </td>
                </tr>
                <tr>
                    <td class="col-lg-4" style="padding-left: 5px; padding-right: 5px;"></td>
                    <td class="col-lg-8" style="padding-left: 5px; padding-right: 5px;">
                        <button class="btn btn-lg btn-primary btn-block" style="width:100%; margin-top: 10px; margin-bottom: 10px;" type="submit">Change my password {% bootstrap_icon "check" %}</button>
                    </td>
                </tr>
            </table>
        </form>
        </div>
    {% else %}
        <h1 class="font-weight-bold text-center" style="margin-top: 50px;">Password reset failed</h1>
        <hr class="text-center" width="35%">
        <p class="text-center">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}

{% endblock %}