html, body, {
	height: 100vh !important;
}

.container-fluid {
	font-size: 14px;
}

.affix {
	top: 0;
	position: fixed;
}

.sidebar-nav {	
	width: 180px;
	height: 100%;
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

a.active{
	font-weight: bold;
	background-color: silver;
}

.form-control {
	font-size: 12.5px;
}

#id_title, #id_project, #id_name, #id_customer, #id_task {
	width: 800px;
	height: 30px;
	margin-bottom: 5px;
}

#id_deadline, #id_status, #id_process {
	width: 175px;
	height: 30px;
	margin-bottom: 5px;
}

#id_types {
	width: 200px;
	margin-bottom: 5px;
}

#id_receivers, #id_current_receivers {
	width: 300px;
	margin-bottom: 5px;
}

#id_description, #id_content {
	width: 800px;
	height: 250px;
	overflow: scroll;
	overflow-y: auto;
	overflow-x: hidden;
	resize: none;
}

#id_current_receivers {
	width: auto;
	min-height: 50px;
	max-height: 150px;
	overflow: scroll;
	overflow-y: auto;
	overflow-x: hidden;
	resize: none;
	border: 0px;
}

#id_receivers {
	height: 150px;
	overflow: auto;
}

[hidden] {
	display: none !important;
}