<!DOCTYPE html>
<html lang="en">
<head>
  
	{% block title %}<title>TWM Application</title>{% endblock %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
	<script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
	<script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
	<!-- Add additional CSS in static file -->
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
  
</head>

<body>
{% load func_extras %}
{% load bootstrap3 %}
  	<div class="container-fluid">

    	<div class="row">

      	<div class="col-sm-2 border-bottom-0 border-left-0 border-top-0 border text-light bg-dark" style="min-height: 100vh;">
		{% block sidebar %}
		{% url 'index' as index_url %}
		{% url 'projects' as projects_url %}
		{% url 'tasks' as tasks_url %}
		<ul class="sidebar-nav nav-stacked" role="tablist" data-spy="affix" data-offset-top="-1">
			<li class="nav-item font-weight-bold">Hi, {{ user.last_name }} {{ user.first_name }}
				({% if perms.software.can_create_project %}Manager{% elif perms.software.is_leader %}Leader{% else %}Member{% endif %})
			</li>
			<li class="nav-item">
			 	<a class="nav-link text-light" href="{% url 'logout'%}?next={{request.path}}">{% bootstrap_icon "log-out" %} Log-out</a>
			</li>
			<hr class="bg-secondary" >
			<li class="nav-item">
				<a class="nav-link text-light {% if request.get_full_path == index_url %}active{% endif %}" href="{% url 'index' %}">{% bootstrap_icon "home" %} Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-light {% if request.get_full_path == projects_url %}active{% endif %}" role="tab" href="{% url 'projects' %}">{% bootstrap_icon "list" %} All Projects</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-light {% if request.get_full_path == tasks_url %}active{% endif %}" href="{% url 'tasks' %}">{% bootstrap_icon "list" %} All Tasks</a>
			</li>
		  	<hr class="bg-secondary" >
			{% url 'my-tasks' as my_tasks_url  %}
			{% url 'my-reports' as my_reports_url %}
			{% url 'project_create' as project_create_url %}
			{% url 'task_create' as task_create_url %}
			{% url 'report_create' as report_create_url %}

			<li class="nav-item"><strong>Main Menu</strong></li>
			 {% number_unread_tasks user as nut %}
			<li class="nav-item">
		 		<a class="nav-link text-light {% if request.get_full_path == my_tasks_url %}active{% endif %}" href="{% url 'my-tasks' %}">{% bootstrap_icon "tasks" %} My Task List <span class="badge">{% if nut > 0 %}{{ nut }}{% endif %}</span></a>
			</li>
			<li class="nav-item">
			 	<a class="nav-link text-light {% if request.get_full_path == my_reports_url %}active{% endif %}" href="{% url 'my-reports' %}">{% bootstrap_icon "list-alt" %} My Report</a>
			</li>
			

			{% if perms.software.is_member %}
			<li class="nav-item">
			 	<a class="nav-link text-light {% if request.get_full_path == task_create_url %}active{% endif %}" href="{% url 'task_create' %}">{% bootstrap_icon "plus" %} Create Task</a>
			</li>
			<li class="nav-item">
			 	<a class="nav-link text-light {% if request.get_full_path == report_create_url %}active{% endif %}" href="{% url 'report_create' %}">{% bootstrap_icon "plus" %} Create Report</a>
			</li>
			
		    {% endif %} 

		  	{% load func_extras %}	  
		  	{% if perms.software.is_leader %}
		  	<hr class="bg-secondary">
		  	{% url 'all-tasked' as all_tasked_url %}
		  	{% url 'my-team' as my_team_url %}
		  	<li class="nav-item"><strong>Leader Menu</strong></li>
		    {% if perms.software.is_leader %}
		    {% empty_receiver request.user as empty_r %}
		    <li class="nav-item">
		   		<a class="nav-link text-light {% if request.get_full_path == all_tasked_url %}active{% endif %}" href="{% url 'all-tasked' %}">{% bootstrap_icon "tasks" %} All Team Tasks <span class="badge">{% if empty_r > 0 %}{{ empty_r }}{% endif %}</span></a></li>
		    <li class="nav-item">
		   		<a class="nav-link text-light {% if request.get_full_path == my_team_url %}active{% endif %}" href="{% url 'my-team' %}">{% bootstrap_icon "modal-window" %} My Team</a>
		    </li>
		    {% endif %}

		    {% if perms.software.is_manager %}
		    <hr class="bg-secondary">
		    <li class="nav-item"><strong>Manager Menu</strong></li>		    
			<li class="nav-item">
			 	<a class="nav-link text-light {% if request.get_full_path == project_create_url %}active{% endif %}" href="{% url 'project_create' %}">{% bootstrap_icon "plus" %} Create Project</a>
			</li>			
			{% endif %}
	  	</ul>
	  	{% endif %}
	  
     	{% endblock %}
      	</div>

      	<div class="col-sm-10 content-area">
      	{% block content %}{% endblock %}
	  
	  	{% block pagination %}
		{% if is_paginated %}
			<div class="pagination">
				<span class="page-links">
					{% if page_obj.has_previous %}
						<a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a>
					{% endif %}
					<span class="page-current">
						Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
					</span>
					{% if page_obj.has_next %}
						<a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a>
					{% endif %}
				</span>
			</div>
		{% endif %}
	  	{% endblock %} 
	  
      	</div>
      	</div>
  	</div>
</body>
<script>
    $(function () {
        $('.datetime-input').datetimepicker({
            format:'DD-MM-YYYY, HH:mm',
        });
    });

    function filterall() {
	// Declare variables 
	var input, filter, table, tr, td, i;
		input = document.getElementById("myInputall");
		filter = input.value.toUpperCase();
		table = document.getElementById("myTable").tBodies[0];
		tr = table.getElementsByTagName("tr");

		// Loop through all table rows, and hide those who don't match the search query
		for (i = 0; i < tr.length; i++) {
			if (tr[i].textContent.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
        } else {
            tr[i].style.display = "none";
        } 
		}
	}

</script>
</html>