{% extends "base_generic.html" %}

{% block content %}
{% load func_extras %}
<h1 class="font-weight-bold text-center" style="margin-bottom: 30px">Teamwork Management Home</h1>

  <div class="col-sm-7">
  <div class="panel panel-default">
  	<table class="table table-hover table-bordered">
  		<thead>
  			<tr class="panel-heading"><th colspan="2" class="panel-title">Your Tasks</th></tr>
  			<tr>
  				<th>Task</th>
  				<th>Deadline</th>
  			</tr>
  		</thead>
  		<tbody class="panel-body">
  			{% for t in all_tasks|slice:":10" %}
  			{% is_mytask t request.user as mytask%} {% task_view t request.user as read %}
  			{% if mytask %}
  			<tr class="{% if t.is_outofdate %}danger{% elif t.is_late %}warning{% else %}info{% endif %} 
						{% if not read %}font-weight-bold font-italic{% endif %}">
  				<td>{% if t.is_outofdate %}<span class="label label-danger"> Late </span>
					{% elif t.is_late %}<span class="label label-warning"> Warning </span>{% endif %}
					{% if not read %}<span class="label label-info"> Unread </span>{% endif %}
  					<a href="{{ t.get_absolute_url }}">{{ t }}</a>
  				</td>
  				<td>{{ t.deadline }}</td>
  			</tr>
  			{% endif %}{% endfor %}
  			<tr><td colspan="2" class="text-center"><em><a href="{% url 'my-tasks' %}" style="text-decoration-line: none">View all</a></em></td></tr>
  		</tbody>
  	</table>
  </div>
  </div>

  <div class="col-sm-5">

  <div class="panel panel-default">
  	<table class="table table-bordered table-hover">
  	<thead class="panel-heading">
  		<th class="panel-title">Overview</th>
  	</thead>
  	<tbody class="panel-body">
  	<td>
  		<p>General statistics:</p>
  		<ul>
    	<li><strong>Projects:</strong> {{ num_projects }}</li>
		<li><strong>Recently Started Projects:</strong> {{ num_projects_new }}</li>
    	<li><strong>Tasks:</strong> {{ num_tasks }}</li>
    	<li><strong>Recently Added Tasks:</strong> {{ num_tasks_new }}</li>
  		</ul>
  	</td>
  	</tbody>
  	</table>
  </div>

  <div class="panel panel-default">
  	<table class="table table-bordered table-hover">
  		<thead class="panel-heading"><th class="panel-title">Recently Projects</th></thead>
  		<tbody class="panel-body">
        {% for p in all_projects|slice:":5" %}
        {% new_project p as pnew %}
        {% project_view p request.user as pread %}
        <tr class="success {% if not pread %}font-weight-bold{% endif %}">
          <td>{% if pnew %}<span class="label label-primary"> New </span>{% endif %}
            <a href="{{ p.get_absolute_url }}">{{ p }}</a>
          </td>
        </tr>
        {% endfor %}
        <tr><td colspan="2" class="text-center"><em><a href="{% url 'projects' %}" style="text-decoration-line: none">View all</a></em></td></tr>
      </tbody>
  	</table>
  </div>
</div>
{% endblock %}